<div class="container users-nav">
  <ul class="nav nav-pills">
    <li>
      {{#link-to "users.index"}}
          {{i18n 'user.list_link.title'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to "users.user-map"}}
          {{i18n 'user.map_link.title'}}
      {{/link-to}}
    </li>
  </ul>
</div>
