{{#if siteSettings.location_users_map}}
  <div class="container users-nav">
    <ul class="nav nav-pills">
      <li>
        {{#link-to "users.index"}}
          {{i18n 'directory.list.title'}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to "users.user-map"}}
          {{i18n 'directory.map.title'}}
        {{/link-to}}
      </li>
    </ul>
  </div>
{{/if}}
