<div class="container users-nav">
  {{#link-to "users" class="btn users-nav-pil users-nav-pil-active"}}
      {{i18n 'user.list_link.title'}}
  {{/link-to}}
  {{#link-to "users.user-map" class="btn users-nav-pil"}}
      {{i18n 'user.map_link.title'}}
  {{/link-to}}
</div>
