<div class='autocomplete'>
  <ul>
    {{#each options as |o|}}
      {{#if o.provider}}
        <label>{{{i18n 'location.geo.desc' provider=o.provider}}}</label>
      {{else}}
        <li class="location-form-result">{{o.address}}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>
