<label {{on "click" (fn @onClick this.location)}}>
  {{geo-location-format this.location geoAttrs=this.geoAttrs}}
  {{#if this.showType}}
    {{#if this.location.type}}
      <div class="location-type">
        {{this.location.type}}
      </div>
    {{/if}}
  {{/if}}
</label>
