<div class="container users-nav">
  {{#link-to "users.index" class="btn users-nav-pil"}}
      {{i18n 'user.list_link.title'}}
  {{/link-to}}
  {{#link-to "users.user-map" class="btn users-nav-pil users-nav-pil-active"}}
      {{i18n 'user.map_link.title'}}
  {{/link-to}}
</div>
<div class='clearfix'>
    <h2>{{i18n 'user.map.title'}}</h2>
</div>
<div class="map-container">
    {{map-component userList=model.content}}
</div>
