#reply-control .show-control {
  display: none;
}

#reply-control .location-label-container {
  margin: 0;
  padding: 0;
}

#reply-control button.add-location.no-text {
  position: relative;
  margin: 7px 0 0 0;

  &:not(.btn-primary) {
    background: $secondary;
  }
}

#reply-control .contents .title-input {
  display: flex;

  input#reply-title {
    width: initial;
    flex: 1 1 auto;
    margin-right: 5px;
  }
}

.add-location .control-group {
  width: 100%;

  .input-location.input-xxlarge {
    width: 100%;
    box-sizing: border-box;
  }
}
