#reply-control .composer-controls-location {
  display: none;
}

#reply-control .location-label {
  margin-left: 4px;
  padding: 0;
}

#reply-control button.add-location.no-text {
  position: relative;
  padding: 6px 12px;

  &:not(.btn-primary) {
    background: $secondary;
  }
}

#reply-control .contents .title-input {
  display: flex;

  input#reply-title {
    width: initial;
    flex: 1 1 auto;
    margin-right: 0;
  }
}

.add-location .control-group {
  width: 100%;

  .input-location.input-xxlarge {
    width: 100%;
    min-height: 36px;
    box-sizing: border-box;
  }
}

.location-selector+.autocomplete {
  width: 90%;
}

.locations-map.expanded {
  top: 55px;
  height: calc(100vh - 55px);
}

.location-details .map-component {
  width: calc(100vw - 20px);
  right: 0;
  left: initial;
}

.location-details .location-label-container {
  margin-right: initial;

  .location-label {
    margin-right: 5px;
  }

  .location-topic-map {

    .fa {
      margin: 0;
      min-width: 15px;
    }
  }
}
