// User location selection //

.user-preferences .location-selector-container {
  max-width: 552px;

  .ac-wrap {
    width: 100% !important;
  }
}

.user-location-warning {
  margin-top: 5px;
}

@media (max-width: 850px) {
  .user-preferences .location-selector-container {
    max-width: 472px;
  }
}

// User map //

.users-nav {
  margin: 20px 0;

  ul {
    margin: 0;
  }
}

.users-map-container {
  margin-bottom: 60px;
}

.users-map-container .map-component {
  width: 100%;
  height: calc(100vh - 270px);
  margin-top: 5px;
}

// User location in profile and user-card //

.btn-show-map.no-text {
  padding: 6px 8px !important;
  margin-bottom: 0;

  .d-icon {
    margin-right: 0 !important;
    width: 1em !important;
    height: 1em !important;
  }
}

.location-and-website.map-location-enabled {
  .user-location-widget {
    display: flex;

    .d-icon-map-marker-alt {
      margin-top: 4px;
      margin-right: 5px;
    }

    .map-wrapper {
      position: relative;
      margin-left: 5px;
    }

    .map-container.small {
      position: absolute;
      z-index: 9999;
      top: initial;
      right: 0;
      max-width: 758px;
      height: 250px;
      top: 30px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }

    .map-container {
      width: 330px;
    }
  }
}

.user-card .location-and-website.map-location-enabled {
  .location,
  .website-name {
    display: none;
  }

  .replace-location .location,
  .replace-location .website-name {
    display: block;
    overflow: visible;
    margin-right: 0;
  }

  .locations-map .location .d-icon {
    margin-right: 0;
  }
}

body.map-location-enabled {
  .user-main .about .primary .primary-textual .location-and-website {
    overflow: initial;
    display: flex;
    flex-direction: row;

    > span {
      max-width: 80%;
      flex: 1;
    }

    .user-profile-location,
    .user-profile-website {
      display: none;
    }

    .replace-location .user-profile-location,
    .replace-location .user-profile-website {
      display: block;
      margin-right: 0;
    }

    .replace-location .user-profile-location {
      .user-location-widget {
        display: flex;
        flex-direction: row;
        .location-label {
          max-width: 100%;
          white-space: initial;
        }
        svg {
          padding-top: 5px;
        }
        .map-wrapper {
          min-width: 110px;
          text-align: right;
          .map-container.small {
            z-index: 290;
            width: 300px;
            right: initial;
            top: initial;
            transform: translate(-190px, 0);
            .avatar {
              margin-right: 10px;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
