@import 'locations-user';
@import 'locations-form';
@import 'locations-layouts';

.add-location-controls .btn {
  text-align: left;
}

.add-location {
  max-height: initial;

  &.modal-body {
    overflow-y: initial;
  }
}

.add-location .location-form {
  .location-results {
    margin-top: 20px;
  }
}

.add-location {
  overflow: visible;

  .control-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;

    .instructions {
      @extend .location-form-instructions;
    }
  }

  .location-search {
    display: block;
    margin: 15px 0;
  }

  .geo-map {
    height: 400px;
  }
}

.add-location + .modal-footer .clear {
  margin: 5px 10px;
}

.location-form-title {
  display: inline-block;
}

.map-container {
  width: 100%;
}

.map-container.small {
  position: absolute;
  z-index: 9999;
  top: initial;
  max-width: 758px;
  height: 250px;
  top: 30px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.composer-controls-location {
  margin: 0 0 5px 5px;
}

.add-location-btn, .add-location-btn + button {
  border: 1px solid $primary-medium;
}

.location-form-map {
  width: 40vw;
  width: 550px;
  height: 400px;
  position: relative;

  .leaflet-container {
    width: 100%;
    height: 100%;
  }
}

.form-element + span {
  display: block;
}

.map-component {
  display: block;
  width: 100%;
  height: 250px;
}

#list-area .map-component {
  width: 100%;
  height: calc(100vh - 270px);
  margin-top: 5px;
}

.locations-map {
  height: 100%;
  position: relative;
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);

  .avatar-wrapper {
    position: absolute;
    top: 3px;
    left: 3px;
  }

  .avatar {
    position: relative;
  }

  .map-title {
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    line-height: 24px;
    cursor: pointer;

    &.show-details {
      background-color: $tertiary;
      color: $secondary;
    }
  }

  .search, .hide-search {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 4px 7px;
    border-radius: 4px;
  }

  .btn-map, .avatar, .leaflet-control, .map-title, .search {
    z-index: 99;
    border: 1px solid dark-light-diff($primary, $secondary, 80%, -65%) !important;
  }

  .btn-map {
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 24px;
    padding: 0;
    border-radius: 4px;

    .fa {
      margin-right: 0;
    }
  }

  .map-expand {
    position: absolute;
    bottom: 60px;
    left: 3px;
  }

  .map-attribution {
    position: absolute;
    bottom: 3px;
    right: 3px;
  }

  .category-edit {
    position: absolute;
    bottom: 3px;
    right: 35px;
  }

  .btn, a {
    background-color: $secondary;
    min-height: initial;

    &:hover {
      background-color: $secondary;
      color: $tertiary;
    }
  }

  .leaflet-container {
    height: 100%;
    width: 100%;

    .leaflet-control-attribution {
      margin-right: 34px;
      margin-bottom: 5px;
      border-radius: 4px;
      height: 28px;
      font-size: 0.9em;
      line-height: 28px;
    }

    .leaflet-map-pane {
      z-index: 99;
    }

    .leaflet-bottom.leaflet-left {
      z-index: 202;
    }

    .leaflet-control-container .leaflet-bar {
      box-shadow: none;
      margin: 3px;

      a, &.leaflet-control a[href] {
        width: 24px;
        height: 25px;
        line-height: 23px;
        text-decoration: none;

        &:hover {
          background-color: $secondary;
          color: $tertiary;
        }
      }
    }
    
    .leaflet-marker-icon {
      .avatar-marker .avatar {
        background-color: $secondary;
        border: none !important;
      }
    }

    .leaflet-tooltip {
      position: absolute;
      white-space: nowrap;

      &.custom {
        top: -15px;
      }
      
      &.avatar-tip {
        top: -42px;
      }
    }
  }

  &.expanded {
    position: fixed !important;
    height: calc(100vh - 65px);
    width: 100vw;
    top: 63px;
    left: 0;
    border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4);
    z-index: 990;

    .avatar-wrapper {
      top: 20px;
      left: 20px;
    }

    .btn-map {
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 28px;
      bottom: 20px;
      right: 60px;
    }

    .search, .hide-search {
      top: 20px;
      right: 20px;
    }

    .leaflet-container .leaflet-bottom.leaflet-left {
      left: 20px;
      bottom: 20px;
    }

    .map-attribution {
      bottom: 20px;
      right: 20px;
    }

    .map-expand {
      top: initial;
      bottom: 90px;
      left: 23px;
    }

    .leaflet-control-attribution {
      right: 60px;
      bottom: 21px;
      font-size: 14px;
      margin: 0;
    }

    .leaflet-control-zoom a {
      width: 28px;
      height: 28px;
      line-height: 26px
    }
  }
}

.topic-list-item .d-icon-map-marker-alt {
  color: $primary;
}

.topic-list-item.visited .d-icon-map-marker-alt {
  color: $primary-medium;
}

.nav-container .locations-map:not(.expanded) {
  height: 170px;
  border-radius: 4px;
}

.map-search {
  position: absolute;
  width: 130px;
  right: 35px;
  top: 3px;
  z-index: 201;
  border-radius: 4px;
  background-color: $secondary;
  border: 1px solid dark-light-diff($primary, $secondary, 80%, -65%);

  &.guest {
    margin-left: 0;
  }

  .badge-wrapper {
    margin-left: 7px;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    height: 12px;

    span {
      margin-right: 0;
    }

    &.empty {
      outline: 2px solid #eee;
      height: 10px;
      width: 10px;
      font-size: 11px;
      margin-right: 5px;
    }
  }

  .fa {
    margin: 5px;
  }

  #map-search-input {
    overflow: hidden;
    vertical-align: middle;
    width: calc(100% - 15px);
    padding: 0 5px 0 10px;
    height: 24px;
    box-shadow: none;
    border: none;
    margin: 0;
    font-size: 14px;
    border-radius: 4px;

    &.list-visible {
      border-radius: 4px 4px 0 0;
    }
  }

  .map-search-list {
    width: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    background-color: white;
    position: absolute;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 4px 4px;

    li {
      display: block;
      padding: 5px 0;
      padding-left: 10px;
      cursor: pointer;

      &:hover {
        background-color: $tertiary;
        color: white;
      }
    }
  }
}

.locations-map.expanded .map-search {
  top: 20px;
  right: 60px;
  width: 200px;

  #map-search-input {
    height: 28px;
  }
}

.topic-body .user-location {
  padding: 0 11px 0.25em 11px;
}

.location-details {
  position: relative;
  margin-top: 7px;

  .location-label-container {
    display: flex;
    align-items: center;

    .location-label {
      line-height: 18px;
      max-width: 500px;
      display: inline-block;

      .fa {
        margin-right: 4px;
      }
    }

    .location-topic-map {
      white-space: nowrap;
      position: relative;
      display: inline-block;
      margin-left: 8px;
    }
  }
}
